{% extends 'blog/base.html' %}

{% block title %} {{ category.name }} {% endblock %}

{% block content %}

	<div class="table-responsive">
		<h1>A List of your posts</h1>
		<table class="table table-hover table-condensed">
			<tr>
				<th>Title</th>
				<th>Slug</th>
				<th>Author</th>
				<th>Published</th>
				<th>status</th>
				<th>Edit post</th>
				<th>Delete</th>
			</tr>
			{% for post in posts %}
				{% if post.status == 'draft' %}
				<tr class="danger">
					{% else %}
					<tr>
					{% endif %}				
						<td>{{ post.title }}</td>
						<td>{{ post.slug }}</td>
						<td>{{ post.author }}</td>
						<td>{{ post.published }}</td>
						<td>{{ post.status }}</td>
						<td><a href="{% url 'blog:edit_post' slug=post.slug %}"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true" ></span>Edit</button></a></td>
						<td><a href="{% url 'blog:delete_post' slug=post.slug %}"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>Delete</button></a></td>
					</tr>
				
				
			{% endfor %}
		</table>
		{% include 'blog/paginator.html' with page=posts %}
	</div>


{% endblock %}