{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-sm-8 blog-main">
	<h1>New Post</h1>
	<form method="POST" class="post-form">
		{% csrf_token %}
		{{ form | crispy }}
		<button type="submit" class="btn btn-success">Save</button>
	</form>
</div>
{% endblock %}