{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="col-sm-8 blog-main">
	<h1>Add New Comment</h1>
	<form method="POST" >{% csrf_token %}
		{{ form | crispy }}
		<button type="submit" class="btn btn-success">Submit</button>
	</form>
</div>
{% endblock %}
{% block sidebar %}
    {% include 'blog/sidebar.html' %}
{% endblock %}