{% extends 'blog/base.html' %}

{% block description %} This is a caterory {% endblock %}
{% block title %} {{ category.name }} {% endblock %}

{% block content %}
<div class="col-sm-8 blog-main">
		{% for post in posts %}
		<div class="blog-post">
            <h2 class="blog-post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            <p class="blog-post-meta">{{ post.published }} by <a href="#">{{ post.author }}</a> in <a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a></p>

            <p>{{ post.content | truncatewords:40 | linebreaks }}</p>

      	</div><!-- /.blog-post -->
      	{% endfor %}

        {% include 'blog/paginator.html' with page=posts %}

      <!-- <nav>
        <ul class="pager">
          <li><a href="#">Previous</a></li>
          <li><a href="#">Next</a></li>
        </ul>
      </nav> -->
</div><!-- /.blog-main -->
{% endblock %}

{% block sidebar %}
    {% include 'blog/sidebar.html' %}
{% endblock %}
