{% extends 'blog/base.html' %}

{% block description %} {{ post.seo_description }} {% endblock %}
{% block title %} {{ category.name }} {% endblock %}

{% block content %}
<div class="col-sm-8 blog-main">
<h2>{{ post.title }}</h2>
		<p><small>Written by {{ post.author }} on {{ post.published }} in 
			<a href="{{post.category.get_absolute_url}}">{{ post.category }}</a></small></p>
		<hr>
		{{ post.content | linebreaks }}
		<hr>
		<p>{{ post.comments.count }} Comment(s)</p>
		<p class="text-center">
			<button type="button" class="btn btn-default">
			<a href="{% url 'blog:add_comment' slug=post.slug %}">Leave a comment</a></button></p>
		<h1>Leave a comment <small></small></h1>
		{% for comment in post.comments.all %}
			<div class="panel panel-default">
				<div class="panel-heading">			
					<p>{{ comment.user }} commented on {{ comment.created }}</p>
				</div>
			

				<p class="btn btn-alert">{{ comment.body }}</p>
			</div>
			<hr>
		{% empty %}
		<p>No comments so far</p>
		{% endfor %}
</div><!-- /.blog-main -->
{% endblock %}
{% block sidebar %}
    {% include 'blog/sidebar.html' %}
{% endblock %}