{% extends 'blog/base.html' %}

{% block title %} {{ category.name }} {% endblock %}

{% block content %}
<div class="col-sm-8 blog-main">
	<h1>{{ category.name }}</h1>
	{% for posts in post %}
		<h2><a href="{{ posts.get_absolute_url }}">{{ posts.title }}</a></h2>
		<p>Written by {{ posts.author }} on {{ posts.published }}</p>
		<hr>
		{{ posts.content | truncatewords:40 | linebreaks }}
	{% endfor %}
</div>
{% endblock %}