{% load static %}
{% load admin_urls %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="">
      <title>{% block title %}{% endblock %}</title>
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/ie10-viewport-bug-workaround.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">  
      <script type="text/javascript" src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>

      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

  </head>

  <body>

    <div class="blog-masthead">

      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="{% url 'blog:list_of_posts' %}">Home</a>
          <a class="blog-nav-item" href="{% url 'blog:new_post' %}">New Post</a>
          <a class="blog-nav-item" href="{% url 'blog:list_of_posts_backend' %}">Backend Access</a>
          <a class="blog-nav-item" href='{% url "admin:index" %}'>Admin Access</a>


        </nav>
      </div>
    </div>


	  


    <div class="container">
 

      <div class="row">
        {% include 'blog/messages.html' %}
        {% block content %}
    	    
    	  {% endblock %}

        {% block sidebar %}
   
        {% endblock %}



      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>&copy; Copyright 2018 <a href="http://affroapps.com">affroapps</a> .</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>

  </body>
</html>
